
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800&display=swap');

@font-face {
    font-family: 'MonumentExtended';
    src: url('../assets/fonts/MonumentExtended-Regular.otf') format('truetype');
    font-style: normal;
    font-weight: normal;
  }


    /* .TituloDeVirtualTour {
        font-family: Integral;
    } */
*{

    margin: 0;
    padding: 0px;
    font-family: 'Roboto', sans-serif;
/* 
    font-family: 'Montserrat',  !important;  */

}



::-webkit-srollbar{
    width: 10px;
}
::-webkit-scrollbar{
background-color: #7FFF00;

border-radius: 8px;
}
::-webkit-scrollbar-thumb{
background-color:#FF1493;
border-radius: 8px;
}


.header-CieloOk{ 
    height: 520px;
}
.cielo{ 
    height: 520px;
    background-image: url("./imagenes2/poseidon.jpg");     
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: Roboto, Arial, sans-serif;
}
.cielo  ul{ 
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-right: 30px;
    padding-top: 25px;
    }

.cielo ul li { 
    color: black;
    list-style: none;
    margin: 1rem;
    padding: 0.5rem;
    font-size: 1.5rem;
    font-weight: bold;
}
.cielo ul li a { 
    display: inline-block;
    text-decoration: none;
    color: black;
    position: relative;

}
.cielo ul li a::after { 
    content: '';
    position: absolute;
    bottom: 0;
    left: 0; bottom: 0; 
    width: 100%; height: 2px;
    background-color: #FF1493;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 0.5s;/*  ease-in-out */
}

.cielo ul li a:hover::after { 
    transform: scaleX(1);
    transform-origin: left;
}

.cielo-servicios {
    text-decoration: none;
    color: black;
    transition: all 0.7s;
    text-underline-offset: 40%;

}
.cielo-servicios:hover {
    color: #8a2be2 ;
}

h1:hover{
    text-shadow: red -6px 0, cyan 6px 0  ;

}
/* .video-intro { grid-area: video-intro; 
    background-color: black;
    
    }
 */

        ::after { 
    content: '';
    position: absolute;
    bottom: 0;
    left: 0; bottom: 0; 
    width: 100%; height: 2px;
    background-color: #FF1493;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 0.5s;/*  ease-in-out */
}

.cielo ul li a:hover::after { 
    transform: scaleX(1);
    transform-origin: left;
}
        .pruebeloTexto{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: left;
            text-align: left;
            max-width: 75%;
            margin-right: 00px;
        }


    .industrias { grid-area: industrias;
    }






/* .dudaFooter-si-no { grid-area: dudaFooter-si-no; 
    background-color: #7FFF00;
}  */
.menu-btn{
    position: absolute;
    cursor: pointer;
    top: 15px;
/*      right: 30px;  */
   z-index: 2;
   font-size: 1.5rem;
   padding-left: 12px;
   padding-right: 12px;
   padding-bottom: 4px;
   margin-left: 20px;
   vertical-align: middle;
   border-radius: 4px;
   background-color: rgb(26, 26, 26, 0.9);
   display: none;
}
.menu-btn img{
    padding-top: 5px;
    padding-bottom: 1px;
   vertical-align: middle;

}


.containerRealState {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 200px 600px 600px 600px 600px 600px 600px;
    gap: 0px 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    grid-template-areas:
        "sectorInmobiliario"
        "dueniosDirectos"
        "ventajaMatterport"
        "presentaciones-de-venta"
        "cardsRosas2"
        "Ultimo3d"
        "industrias";
    }

    .sectorInmobiliario { grid-area: sectorInmobiliario;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: left;
        max-width: 1300px;
        }
        .sector-inmobi-titulo {
            font-size: 3rem;
            align-self: left;
            font-weight: bold;
            margin-top: 30px;
            margin-bottom: 20px;
            transition: all 0.7s;
/*             padding-right: 30px; */
        }
        .sector-inmobi-texto1{
            font-size: 1.5rem;
            margin-bottom: 20px;
        }
        .sector-inmobi-estadisticas{
            display: flex;
            flex-direction: row;
            justify-content: space-around;
           flex-wrap: wrap; 
          margin-top: 20px;
            
        }
        
        .sector-inmobi-74{
            color: #FF1493;
            font-weight: 100;
            font-size: 7rem;
        }
        .sector-inmobi-95{
            font-weight: 100;
            font-size: 7rem;
        }
        .sector-inmobi-texto95{
            max-width: 500px;
        }
        .sector-inmobi-logo{
       
          width: 13%;
          height: 13%;
            
        }
        .sector-inmobi-a{
            align-self: center;
            margin-top: 40px;

        }
        .sector-inmobi-boton{
            cursor: pointer;
            color: white;
            background-color: black;
            border-radius: 5px;
            padding: 10px;
            font-size: 1.5rem;
            transition: all 1.5s;
        }
        .sector-inmobi-boton:hover{
            transform: scale(1.2);
            
        }
.dueniosDirectos { grid-area: dueniosDirectos;
    background-color: rgba(8, 8, 8, 0.9);
    width: 100%;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: start;
    text-align: center;
    min-height: 400px;

    margin: 0px;
    margin-top: 40px;
/*     flex-wrap: wrap; */
}
    .cartaNegra{
        font-size: 1.1rem;

        display: flex;
        flex-direction: column;
        width: 400px;
        padding: 20px;
        margin-top: 50px;
        text-align: left;
    }
    
        .cartaNega-titulo{ 
            font-size: 1.2rem;
            margin-bottom: 10px;
        }    
        .cartaNega-texto1{ 
            line-height: 1.8rem;
        }
        .cartaNega-texto2{ 
            line-height: 1.8rem;
        }
    .ventajaMatterport { grid-area: ventajaMatterport;

        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        margin-top: 60px;
        width: 75%;
        }
    

    .restoInfo{
        max-width: 500px;
    }

    .GoogleStreetView{ 
        font-size: 1.5rem;
        letter-spacing: .3px;
        font-weight: bold;

        line-height: 26px;
        margin-top: 20px;
        margin-bottom: 20px;

    }
        .GoogleStreetViewText{ 
            font-size: 1.3rem;
            margin-bottom: 20px;
            text-align: start;
            line-height: 28px;
        }
            .liDeStreet{
            text-align: start;
            font-size: 1.3rem;
            margin-bottom: 10px;
            margin-left: 20px;
            }
            .liDeStreet::marker{
                color: #FF1493;
            }
            .liDeStreet:hover{
                color: #8a2be2;
                }
/*                 .divImgPiscina{
                    width: 300px;
                    margin-top: 20px;

                } */
                .imgPiscina{
                    width: 45%;
                    border-radius: 20px;


                }

    .presentaciones-de-venta { grid-area: presentaciones-de-venta;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 60px;
    }
    
    .videoEdificio{
    margin-right: 0px;
    } 
    .vidEdificio-ok{
    width: 750px;
    }

    .GoogleStreetView{ 
    font-size: 1.5rem;
    letter-spacing: .3px;
    font-weight: bold;
    line-height: 26px;
    margin-top: 20px;
    margin-bottom: 20px;
    }
    .GoogleStreetViewText{ 
    font-size: 1.3rem;
    margin-bottom: 20px;
    text-align: start;
    line-height: 28px;
    }
    .liDeStreet{
    text-align: start;
    font-size: 1.3rem;
    margin-bottom: 10px;
    margin-left: 20px;
    }
    .liDeStreet::marker{
        color: #FF1493;
    }
    .liDeStreet:hover{
    color: #8a2be2;
    }
    .imgPiscina{
        width: 45%;
        border-radius: 20px;
    }


        
    .cardsRosas2 { grid-area: cardsRosas2;
        background-color: rgb(235, 235, 235);
        display: flex;
        flex-direction:row;
        flex-wrap: wrap;
        padding-top: 70px;
        justify-content: center;
        margin-top: 50px;
        min-height: 600px;
        max-width: 1400px;
    }
    .cardsRosasUnidad{
        display: flex;
        flex-direction: column;
        align-items: left;
        width: 450px;

        font-size: 13px;
        font-weight: bold;
        padding-right: 0px;
        padding-left: 50px;
        margin-bottom: 20px;
        transition: all 0.7s;
    }
    .cardsRosasUnidad:hover{
        transform: scale(1.1);
    }
    .miniFoto{
        width: 80px;
        margin-bottom: 25px;
    }
    .blurIco{
        width: 60px;
    }
    .miniTitulo{
        font-size: 20px;
        font-weight: bold;
        margin-bottom: 10px;
    }
    .cardsTextos{
        margin-bottom: 10px;
    }
    .masInformacion{
        color: black;
        font-weight: bold;
        font-size: 17px;
        text-decoration: none;
       
    }
    .masInformacion:hover{
        color: black;
       
    }
    
    
    .masInformacion p:hover {
        text-decoration: underline #7FFF00 1px; 

    }        
       


    .Ultimo3d { grid-area: Ultimo3d;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        margin-top: 50px;
        margin-bottom: 60px;
        font-size: 1.4rem;
    }
        .textoUltimoOk{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: left;
            text-align: center;
        }
        .pruebeloUstedMismo{
            display: flex;
            flex-direction: column;
            justify-content: center;
            text-align: left;
            margin-bottom: 20px;
        }

        .pruebeloTexto{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: left;
            text-align: left;
            max-width: 75%;
            margin-right: 00px;
            margin-bottom: 20px;
        }
        .matterportLast{
            margin-bottom: 25px;

        }
    .industrias { grid-area: industrias;
    
    }

    @media (max-width: 1150px){
        .sectorInmobiliario { 
            padding-left: 15px;
            justify-content: center;

        }
        .sector-inmobi-95{
           margin-top: 15px;
        }
        .sector-inmobi-texto95{
            max-width: 407.81px;
        }
        .restoInfo{
            padding-left: 15px;
            padding-right: 15px;
        }
        .textoUltimoOk{
            align-items: center;

        }
        .sector-inmobi-estadisticas{
/*             flex-direction: column; */
            justify-content: center;
            align-items: center;
        }
        .sector-inmobi-74{
            
            max-width: 500px;
        }

    }

    @media (max-width: 980px){
        .dueniosDirectos{ 
            flex-direction: column;
            justify-content: right;
            align-items: center;
        }
        .cartaNegra{
            width: 80%;
        }
        .cartaNegra.last{
            margin-bottom: 50px;
        }
    }

@media (max-width: 910px){
    .gemelosDigitales{ 
        padding-left: 50px;
        padding-right: 50px;
    }
    
    .cielo .cieloLista{  
        width: 100%;
        background-color: rgb(47, 54, 64, 0.6);
        opacity: 0.9;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        padding-top: 40px;
        margin: 0;
        transform: translateX(-1000px);
        transition: transform  .5s ease-in-out;
    }
    .cielo .cieloLista.show{  
        transform: translateX(0px);
        
    } 


    .cielo ul li{
        margin-top: 0;
        margin-bottom: 0;
        padding: 8px 0px;
    }

    .menu-btn{
        display: block;
    }

    .matterportLast{
        width: 95%;

    }
}

@media (max-width: 1247px){
    .restoInfo{
        max-width: 800px;
        
    }
}   

@media (max-width: 820px){
    .sector-inmobi-logo{
        width: 20%;
        height: 20%;
          
      }
      .vidEdificio-ok{
        width: 500px;
      }
}   


@media (max-width: 720px){
    .sector-inmobi-logo{
        width: 20%;
        height: 20%;
          
      }
}   

@media (max-width: 632px){
    .TitleVirtualTour h1{
        font-size: 2.9rem;
    }
    .tituloGemelosDigitales {
        text-align: center;
    }
    .textoGemelosDigitales {
        text-align: justify;
    }
    .GoogleStreetViewText{
        text-align: justify;
    }

    .matterportLast{
        width: 95%;

    }
    .GoogleStreetView{
        text-align: center;
    }
}   

@media (max-width: 597px){
    .sector-inmobi-74 .sector-inmobi-95{
        text-align: center;
    }
    .sector-inmobi-95{
        text-align: center;
    }
    .sector-inmobi-texto95{
        text-align: center;
    }



}

@media (max-width: 530px){
    .header-CieloOk{
        height: 350px;
    }
    .cielo{
        height: 350px;
    }
    .sector-inmobi-logo{
        width: 40%;
        height: 40%;
          
      }
      .cardsRosasUnidad{
          padding-left: 10px;
      }
      .miniFoto{
        align-self: center;
      }
      .cardsRosasUnidad p{
          padding-right: 10px;
      }
      .vidEdificio-ok{
        width: 418px;
      }
    .sector-inmobi-74{
        text-align: center;
    }
}   

@media (max-width: 465px) {

    .gmap_canvas{
        max-width: 350px;
    }
    .mapouter{
        max-width: 350px;
    }
}

@media (max-width: 418px){
    .cardsRosasUnidad{
        width: 320px;
    }
    .cardsRosasUnidad p{
        padding-right: 00px;
    }
    .vidEdificio-ok{
        width: 340px;
      }
}   

/* ------FOOTER ---------*/


.footer{
    /*  background-color: #000; */
     color: #fff;
     padding: 40px 0px;
     background-image: url('./imagenes/pattern.jpg');
     background-size: contain;
     background-position: center;
 }
 
 .text1_footer{
     font-family: 'MonumentExtended', sans-serif !important;
     text-align: center;
     font-size: 20px;
 }
 
 @media (min-width: 768px) {
     .text1_footer{
         font-size: 40px;
     }
 }
 
 .matters{
     color: #8a2ae3;
 }
 
 .logoFooter{
     font-size: 50px;
 }
 
 .bi-linkedin{
     color: #8a2ae3;
 }
 
 .bi-instagram{
     color: #ff1493;
 }
 
 .cursor_pointer{
     cursor: pointer;
 }
 
 .img_footer{
     width: 200px;
     border-radius: 10px;
 }
 
 .container1_text_footer{
     width: 200px;
 }
 
 .title_container1_text_footer{
     font-family: 'MonumentExtended', sans-serif !important;
     font-size: 17px;
     color: #fff;
     text-align: center;
 }
 
 .derechos{
     text-align: center;
 
     font-size: 12px;
     font-weight: bold;
 }
 
 /* ------FOOTER ---------*/