

.TituloDeVirtualTour {
    font-family: Integral;
}
*{

    margin: 0;
    padding: 0px;
    font-family: 'Roboto', sans-serif;

    font-family: 'Montserrat', sans-serif !important;

}

header{
    background-color: #f5f5f5;
}

header{
    height: 100%;
}

.navbar{
    background-color: black;
}

.navbar-toggler{
    border: none;
    background-color: #1a1a1a;
}

.navbar-toggler-icon{
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3E%3Cpath stroke='rgba(255,255,255,0.5)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}


.nav-link {
    color: #fff;
    font-size: 25px;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
}

.nav-link:hover{
    color: #7FFF00;
    text-decoration: underline;
}


.video-intro{ 
    max-height: 800px;
    
    
}
.video-intro  ul{ 
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-right: 30px;
    padding-top: 25px;
    }

.video-intro ul li { 
    list-style: none;
    margin: 1rem;
    padding: 0.5rem;
    font-size: 1.5rem;
    font-weight: bold;
}

.videoBg{
    width: 100%;
}

a {
    font-family: Roboto, sans-serif;
    text-decoration: none;
    color: white;
    font-size: 24px;
    font-weight: bold;
    transition: all 0.7s;
    text-underline-offset: 40%;

}
a:hover {
    color: #7FFF00;
    
}

.video-intro { grid-area: video-intro; 
    background-color: black;
    }

.textoVideo{ 
    font-size: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.container {
  display: grid;
  min-width: 100%;
  grid-template-columns: 100%;
  grid-template-rows:   300px 200px 400px 100px 900px 800px 800px 800px 800px 800px 800px 800px  850px; 
  gap: 10px 0px;
  padding: 0px;
  margin: 0px;
  grid-template-areas:
    "metaverso"
    "virtua-sate"
    "contenido-5"
    "otroTitulo"
    "a3-d"
    "b3-dPhotography"
    "c3-dScan"
    "createIt"
    "appsReality"
    "instagram"
    "d360"
    "hombreGafas"
    "cierre"
/*     "dudaFooter-si-no"  */
   ;
}



.metaverso { grid-area: metaverso;
    background-color: #7FFF00 ;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    letter-spacing: 1.7rem;
    }
    
.metaverso h2 { grid-area: metaverso;
    font-size: 50px;
    font-weight: bold;
    text-align: center;
    }


.virtua-sate { grid-area: virtua-sate; 
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    }

.virtua-sate h2 { 
    color: #7FFF00;
    font-size: 100px;
    font-weight: bold;
    text-align: center;
    letter-spacing: 3.5rem;
    }

.stateSolo{ 
    color: #8a2be2;
    font-size: 100px;
}

.contenido-5 { grid-area: contenido-5; 
    background-color: #7FFF00 ;
    }
.otroTitulo { grid-area: otroTitulo; 
    background-color: white ;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    letter-spacing: 1.7rem;
    }
.otroTitulo h3 { 
    font-size: 60px;
    font-weight: bold;
    text-align: center;
    letter-spacing: 3rem;
    }
    
.a3-d { grid-area: a3-d; 
    background: rgb(127,255,0);
    background: -moz-linear-gradient(103deg, rgba(127,255,0,1) 37%, rgba(138,43,226,0.938813025210084) 74%);
    background: -webkit-linear-gradient(103deg, rgba(127,255,0,1) 37%, rgba(138,43,226,0.938813025210084) 74%);
    background: linear-gradient(103deg, rgba(127,255,0,1) 37%, rgba(138,43,226,0.938813025210084) 74%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#7fff00",endColorstr="#8a2be2",GradientType=1);
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
}

.recoVirtual{
    color: white;
    font-size: 150px;
    text-align: center;
    font-weight: normal;
    letter-spacing: 1.7rem;
    padding-top: 100px;
}

.bajo3Dalone{
    color: #8a2be2;
    font-size: 250px;
    font-weight: bold;
    text-align: center;
    font-family: arial,sans-serif;
    padding-top: 40px;
}
.letraDsola{
    color: #7FFF00;
    font-size: 250px;
    font-weight: bold;
    font-family: arial,sans-serif;
}


.b3-dPhotography { grid-area: b3-dPhotography; 
    background-color: #7FFF00;
    display: flex;
    flex-direction: column;
    justify-content: starts;
    align-items: center;
    letter-spacing: 1.7rem;
}
.b3-dPhotography h3 { 
    font-size: 60px;
    font-weight: bold;
    text-align: center;
    margin-top: 70px;
    background-color: #8a2be2;
    color: white;
    padding: 10px;
    padding-left: 40px;
    }
.c3-dScan { grid-area: c3-dScan;
    background-color: #8a2be2 ; 
    display: flex;
    flex-direction: column;
    justify-content: starts;
    align-items: center;
    letter-spacing: 2rem;
    }

.c3-dScan h3{
    font-size: 60px;
    font-weight: bold;
    text-align: center;
    margin-top: 70px;
    background-color: #7FFF00;
    color: white;
    padding: 10px;
    padding-left: 40px;
}

.createIt { grid-area: createIt; 
    background-color: #FF1493 ; 
    display: flex;
    flex-direction: column;
    justify-content: starts;
    align-items: center;
    letter-spacing: 1.7rem;
    text-align: center;

}

.createIt h3{
    font-size: 50px;
    font-weight: bold;
    text-align: center;
    margin-top: 70px;
    background-color: #7FFF00;
    color: white;
    width: 500px;
    color: black;
    width: 90%;
}

.CreateItImg{ 
    width: 100%;
}

.createIt .CreateItAlone{
    font-size: 70px;
    font-weight: bold;
    text-align: center;
    margin-top: 70px;
    background-color: #7FFF00;
    color: white;
    width: 500px;
    color: black;
    width: 50%;
    padding-left: 35px;
    
}

.appsReality { grid-area: appsReality; 
    background-color: #7FFF00 ;
    display: flex;
    flex-direction: column;
    justify-content: starts;
    align-items: center;
    letter-spacing: 1.1rem;
    }
.appsReality h3 {
    font-size: 60px;
    font-weight: bold;
    text-align: center;
    margin-top: 70px;
    background-color: #FF1493 ;
    color: white;
    padding: 10px;
    padding-left: 40px;
    }

.instagram { grid-area: instagram; 
    background-color: #7FFF00 ;
    display: flex;
    flex-direction: column;
    justify-content: starts;
    align-items: center;
    letter-spacing: 1.1rem;
    }
.instagram h3 {
    font-size: 60px;
    font-weight: bold;
    text-align: center;
    margin-top: 70px;
    background-color: #FF1493 ;
    color: white;
    padding: 10px;
    padding-left: 50px;
    padding-right: 50px;
    }

.d360 { grid-area: d360;
    background-color: #7FFF00;
    display: flex;
    flex-direction: column;
    justify-content: starts;
    align-items: center;
    letter-spacing: 1.1rem;
    }

.d360 h3 {
    font-size: 60px;
    font-weight: bold;
    text-align: center;
    margin-top: 70px;
    background-color: #FF1493 ;
    color: white;
    padding: 10px;
    padding-left: 50px;
    padding-right: 50px;
    }

.hombreGafas { grid-area: hombreGafas; 
    background-color: #FF1493 ;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
    letter-spacing: 1.1rem;

    }

.hombreGafas h3 {
    font-size: 60px;
    font-weight: bold;
    text-align: center;
    margin-top: 70px;
    color: #7FFF00;
    padding: 10px;
    padding-left: 50px;
    padding-right: 50px;
    letter-spacing: 2rem;
    }

.hombreGafas span {
    color: black; /* este color será #FF1493 */
    }

.hombreGafas .neverPony{ 
    color: white;
    margin-top: 00px;
    margin-bottom: 30px;


}
.cierre { grid-area: cierre; 
    background: rgb(127,255,0);
    background: -moz-linear-gradient(103deg, rgba(127,255,0,1) 37%, rgba(138,43,226,0.908000700280112) 74%);
    background: -webkit-linear-gradient(103deg, rgba(127,255,0,1) 37%, rgba(138,43,226,0.908000700280112) 74%);
    background: linear-gradient(103deg, rgba(127,255,0,1) 37%, rgba(138,43,226,0.908000700280112) 74%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#7fff00",endColorstr="#8a2be2",GradientType=1);
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    }

.cierre h3{
    font-weight: bold;
    text-align: center;
    margin-top: 50px;
    font-size: 60px;
    color: white;
    }

.cierre h4{
    font-weight: bold;
    text-align: center;
    margin-top: 50px;
    font-size: 40px;
    color: white;
    }

.cierre h2{ 
    text-align: center;
    margin-top: 50px;
    font-size: 150px;
    color: white;
    }

.cierre .agendar{ 
    border: 4px solid white;
    border-radius: 30px;
    padding-left: 40px;
    padding-right: 40px;
    margin-left: 30px;
    }

.cierre .logoZoom{ 
    width: 90px;
    margin-top: 40px;
    }
    
.miRed{
    width: 50px;
    height: 100px;

}
.logoOk{ 
    width: 50px;
    height: 50px;

}

::-webkit-srollbar{
    width: 10px;
}
::-webkit-scrollbar{
background-color: #7FFF00;

border-radius: 8px;
}
::-webkit-scrollbar-thumb{
background-color:#FF1493;
border-radius: 8px;
}

.header-CieloOk{ 
    height: 520px;
}
.cielo{ 
    height: 520px;
    background-image: url("./hero-cielo.jpg");     
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.cielo  ul{ 
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-right: 30px;
    padding-top: 25px;
    }

.cielo ul li { 
    color: black;
    list-style: none;
    margin: 1rem;
    padding: 0.5rem;
    font-size: 1.5rem;
    font-weight: bold;
}
.cielo ul li a { 
    display: inline-block;
    text-decoration: none;
    color: black;
    position: relative;

}
.cielo ul li a::after { 
    content: '';
    position: absolute;
    bottom: 0;
    left: 0; bottom: 0; 
    width: 100%; height: 2px;
    background-color: #FF1493;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 0.5s;/*  ease-in-out */
}

.cielo ul li a:hover::after { 
    transform: scaleX(1);
    transform-origin: left;
}

.cielo-servicios {
    text-decoration: none;
    color: black;
    transition: all 0.7s;
    text-underline-offset: 40%;

}
.cielo-servicios:hover {
    color: #8a2be2 ;
}

h1:hover{
    text-shadow: red -6px 0, cyan 6px 0  ;

}
/* .video-intro { grid-area: video-intro; 
    background-color: black;
    
    }
 */
.container-RecoVirtual {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 200px 600px 600px 600px 600px 600px;
    gap: 0px 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    grid-template-areas:
        "TitleVirtualTour"
        "gemelosDigitales"
        "googleStreet"
        "cardsRosas"
        "Ultimo3d"
        "industrias";
    }

    .TitleVirtualTour { grid-area: TitleVirtualTour;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        }
        .TitleVirtualTour h1 {
            font-size: 6rem;
            font-weight: bold;
            text-align: center;
            letter-spacing: 1rem;
            margin-top: 30px;
            transition: all 0.7s;
/*             padding-right: 30px; */
        }
        .title3oK{ 
            color: #7FFF00;
        }
        .titleDoK{ 
            color: #8a2be2;
        }
.gemelosDigitales { grid-area: gemelosDigitales;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    text-align: left;
    padding-left: 160px;
    padding-right: 160px;
    margin: 0px;
    margin-top: 40px;
}
    .tituloGemelosDigitales{ 
        font-size: 40px;
        font-weight: bold;
        text-align: left;
        color: black;
        margin-top: 0px;
        margin-bottom: 10px;
    }
    .textoGemelosDigitales{ 
        font-size: 30px;
        font-weight: bold;
        text-align: center;
        margin-top: 0px;
        margin-bottom: 00px;
        color: black;
        line-height: 1.73;
        text-align: left;
        margin-top: 0px;
    }
    .googleStreet { grid-area: googleStreet;

        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        margin-top: 60px;
        width: 75%;
        }
    
    .ArticleGoogleStreet{ 
        width: 470px;
    }

    .GoogleStreetView{ 
        font-size: 1.5rem;
        letter-spacing: .3px;
        font-weight: bold;

        line-height: 26px;
        margin-top: 20px;
        margin-bottom: 20px;

    }
        .GoogleStreetViewText{ 
            font-size: 1.3rem;
            margin-bottom: 20px;
            text-align: start;
            line-height: 28px;
        }
            .liDeStreet{
            text-align: start;
            font-size: 1.3rem;
            margin-bottom: 10px;
            margin-left: 20px;
            }
            .liDeStreet::marker{
                color: #FF1493;
            }
            .liDeStreet:hover{
                color: #8a2be2;
                }
/*                 .divImgPiscina{
                    width: 300px;
                    margin-top: 20px;

                } */
                .imgPiscina{
                    width: 45%;
                    border-radius: 20px;


                }

    .cardsRosas { grid-area: cardsRosas;
        background-color: rgb(235, 235, 235);
        display: flex;
        flex-direction:row;
        flex-wrap: wrap;
        padding-top: 70px;
        justify-content: center;
/*         margin-left: 75px;
        margin-right: 75px; */
        margin-top: 50px;
    }
    .cardsRosasUnidad{
        width: 400px;
        font-size: 13px;
        font-weight: bold;
        padding-right: 0px;
        padding-left: 50px;
        margin-bottom: 20px;
        transition: all 0.7s;
    }
    .cardsRosasUnidad:hover{
        transform: scale(1.1);

    }
        
        .miniFoto{
            margin-bottom: 25px;
        }
        .miniTitulo{
            font-size: 20px;
            font-weight: bold;
            margin-bottom: 10px;
        }
        .masInformacion{
            color: black;
            font-weight: bold;
            font-size: 17px;
        }
        .masInformacion p:hover {
            color: black;
        }

    .Ultimo3d { grid-area: Ultimo3d;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        margin-top: 50px;
        margin-bottom: 60px;
    }
        .textoUltimoOk{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: left;
            text-align: center;
        }
        .pruebeloUstedMismo{
            display: flex;
            flex-direction: column;
            justify-content: center;
            text-align: left;
        }
        ::after { 
    content: '';
    position: absolute;
    bottom: 0;
    left: 0; bottom: 0; 
    width: 100%; height: 2px;
    background-color: #FF1493;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 0.5s;/*  ease-in-out */
}

.cielo ul li a:hover::after { 
    transform: scaleX(1);
    transform-origin: left;
}
        .pruebeloTexto{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: left;
            text-align: left;
            max-width: 75%;
            margin-right: 00px;
        }
        .matterportLast{
/*             width: 60%; */

        }
    .industrias { grid-area: industrias;
    
    }






/* .dudaFooter-si-no { grid-area: dudaFooter-si-no; 
    background-color: #7FFF00;
}  */


