
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik+Mono+One&display=swap');


@font-face {
    font-family: 'MonumentExtended';
    src: url('../fonts/MonumentExtended-Regular.otf') format('truetype');
    font-style: normal;
    font-weight: normal;
  }

@font-face {
    font-family: 'Drone Ranger';
    src: url('../fonts/DroneRangerPro-Light.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
  }

*{
    margin: 0;
    padding: 0px;
    cursor: crosshair;
}

body{
    background-color: #000;
}

/* NAVBAR */
.navbar{
    background-color: black;
}

.navbar-toggler{
    border: none;
    background-color: #1a1a1a;
}

.navbar-toggler-icon{
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3E%3Cpath stroke='rgba(255,255,255,0.5)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}


.nav-link {
    color: #fff;
    font-size: 25px;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
}

.nav-link:hover{
    color: #7FFF00;
    text-decoration: underline;
}

/* VIDEO HERO */
.video-intro{ 
    max-height: 800px;
    overflow: hidden;
}

.videoBg{
    width: 100%;
    filter: brightness(0.8);
}

.textoVideo{
    top: 5%;
    left: 0;
    right: 0;
    margin: auto;
}

.daPasos{
    font-family: 'MonumentExtended', sans-serif !important;
    font-size: 10px;
    letter-spacing: 0.3rem;
    font-weight: 500;
}

.text_metaverso{
    color: #e322f4;
    font-family: 'MonumentExtended', sans-serif !important;
    letter-spacing: 0.8rem;
    margin-top: -20px;
    font-size: 20px;
}

@media (min-width: 768px) {
    .daPasos{
        font-size: 30px;
    }
    .text_metaverso{
        font-size: 50px;
    }
}

.logo_hero{
    width: 70%;
    display: block;
    margin: auto;
}


/* SECTION1 */
.tection1_text {
    font-family: 'MonumentExtended', sans-serif !important;
    padding-top: 35px;
    padding-bottom: 35px;
    font-size: 30px;
    font-weight: 500;
    color: rgb(255, 255, 255);
    text-align: center;
    margin: 0;
}

@media (min-width: 768px) {
    .tection1_text {
        font-size: 60px;
    }
}

/* IMG SECTIONS */
.img-section{
    width: min(90%, 800px);
}


/* SECTION2 */
.section2{
    background: rgb(127,255,0);
    background: -moz-linear-gradient(103deg, rgba(127,255,0,1) 10%, rgba(138,43,226,0.938813025210084) 74%);
    background: -webkit-linear-gradient(103deg, rgba(127,255,0,1) 10%, rgba(138,43,226,0.938813025210084) 74%);
    background: linear-gradient(103deg, rgba(127,255,0,1) 10%, rgba(138,43,226,0.938813025210084) 74%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#7fff00",endColorstr="#8a2be2",GradientType=1);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 600px;
}


.section2_text{
    top: 20%;
    margin: auto;
}


.section2_text_1{
    font-family: serif;
    font-size: 30px;
    font-weight: 800;
    text-align: center;
    margin: 0;
    letter-spacing: 15px;
    -webkit-text-stroke: 1px rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    font-family: 'MonumentExtended', sans-serif !important;
    
}

@media (min-width: 768px) {
    .section2_text_1{
        font-size: 70px;
    }
}

.section2_text_2{
    font-family: 'Rubik Mono One', sans-serif;
    font-size: 120px;
    color: #930ae4;
    -webkit-text-stroke: 4px black;
    letter-spacing: -15px;
}

.section2_text_2_D{
    color: #3cff2b;
    -webkit-text-stroke: 4px black; /* width and color */
}

/* SECTION3 */
.section3{
    background-color: #7FFF00;
    display: flex;
    flex-direction: column;
    justify-content: starts;
    align-items: center;
    letter-spacing: 1.1rem;
    max-height: 800px;
}


.img_section{
    max-width: 750px;
}

.section3_text_container{
    height: 80px;
    background-color: #930ae4;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    margin-top: 40px;
    width: 100%;
}

@media (min-width: 768px) {
    .section3_text_container{
        width: 100%;
    }
    
}



.section3_text{
    font-family: 'MonumentExtended', sans-serif !important;
    font-size: 13px;
    font-weight: 800;
    color: rgb(250, 250, 250);
    text-align: center;
    margin: 0;
}

@media (min-width: 860px) {
    .section3_text{
        font-size: 40px;
    }
   
}

/* SECTION 4 */

.section4{
    background-color: #8a2ae3;
    display: flex;
    flex-direction: column;
    justify-content: starts;
    align-items: center;
    letter-spacing: 1.1rem;
    max-height: 800px;
}

.img_section{
    max-width: 750px;
}

.section4_text_container{
    height: 80px;
    background-color: #7FFF00;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    margin-top: 40px;
    width: 100%;
}

.section4_text{
    font-family: 'MonumentExtended', sans-serif !important;
    font-size: 13px;
    font-weight: 800;
    color: rgb(0, 0, 0);
    text-align: center;
    margin: 0;
}

@media (min-width: 860px) {
    .section4_text{
        font-size: 40px;
    }
   
}


/* SECTION 5 */

.section5{
    background-color: #ff1493;
    display: flex;
    flex-direction: column;
    justify-content: starts;
    align-items: center;
    letter-spacing: 1.1rem;
}

.img_section{
    max-width: 750px;
}

.section5_text_container{
    height: 80px;
    background-color: #7FFF00;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    margin-top: 40px;
    width: 100%;
}

.section5_text{
    font-family: 'MonumentExtended', sans-serif !important;
    font-size: 10px;
    font-weight: 800;
    color: rgb(0, 0, 0);
    text-align: center;
    letter-spacing: 10px;
    margin: 0;
}

@media (min-width: 537px) {
    .section5_text{
        font-size: 15px;
    }
   
}
@media (min-width: 768px) {
    .section5_text{
        font-size: 30px;
    }
   
}


@media (min-width: 860px) {
    .section5_text2{
        font-family: 'MonumentExtended', sans-serif !important;
        color: rgb(0, 0, 0);
        font-weight: 800;
        font-size: 25px;
        text-align: center;
        margin: 0;
    }
   
}



/* SECTION 6 */

.section6{
    background-color: #7FFF00;
    display: flex;
    flex-direction: column;
    justify-content: starts;
    align-items: center;
    letter-spacing: 1.1rem;
}

.img_section{
    max-width: 750px;
}

.section6_text_container{
    height: 80px;
    background-color: #ff1493;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    margin-top: 40px;
    width: 100%;
}

.section6_text{
    font-family: 'MonumentExtended', sans-serif !important;
    font-size: 10px;
    font-weight: 800;
    color: rgb(255, 255, 255);
    text-align: center;
    margin: 0;
    letter-spacing: 10px;
}

@media (min-width: 537px) {
    .section6_text{
        font-size: 15px;
    }
   
}

@media (min-width: 768px) {
    .section6_text{
        font-size: 30px;
    }
   
}
.reallity_apps_img{
    height: min(90%, 650px);
}




/* SECTION 7 */

.section7{
    background-color: #8a2ae3;
    display: flex;
    flex-direction: column;
    justify-content: starts;
    align-items: center;
    letter-spacing: 1.1rem;
}

.img_section{
    max-width: 750px;
}

.section7_text_container{
    height: 80px;
    background-color: #ff1493;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    margin-top: 40px;
    width: 100%;
}

.section7_text{
    font-family: 'MonumentExtended', sans-serif !important;
    font-size: 10px;
    font-weight: 800;
    color: rgb(255, 255, 255);
    text-align: center;
    margin: 0;
    letter-spacing: 10px;
}

@media (min-width: 537px) {
    .section7_text{
        font-size: 15px;
    }
   
}

@media (min-width: 768px) {
    .section7_text{
        font-size: 30px;
    }
   
}
.reallity_apps_img{
    height: min(90%, 650px);
}

.section8{
    background-color: #000;
    padding-top: 100px;
    padding-bottom: 40px;
}

.cyber_punker_img{
    width: min(90%, 500px);
    -webkit-transition: all 0.5s ease-in-out;
}

.cyber_punker_img:hover{
    transform: scale(1.1);

    -webkit-transition: all 0.5s ease-in-out;
}

.section9{
    margin-top: 50px;
    background-color: #ffffff;
   
}

.section9Puente{
    width: 100%;
    height: 300px;
}

@media (min-width: 537px) {
    .section9Puente{
        height: 400px;
    }
}

@media (min-width: 768px) {
    .section9Puente{
        height: 550px;
    }    
}

.section9_title{
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    padding-top: 10px;
}

.title_puente{
    font-family: 'MonumentExtended', sans-serif !important;
    color: #fff;
    text-align: center;
    padding-top: 20px;
    font-size: 10px;
}


.virtuastatepuente_text{
    font-family: 'Drone Ranger'!important;
    color: #fff;
    text-align: center;
    font-size: 50px;
}


@media (min-width: 537px) {
    .title_puente{
        font-size: 20px;
    }
    .virtuastatepuente_text{
        font-size: 70px;
    }
   
    
}

@media (min-width: 768px) {
    .title_puente{
        font-size: 30px;
    }
    .virtuastatepuente_text{
        font-size: 100px;
    }
      
}

.agendar_img{
    width: 50px;
    height: 50px;
    margin-bottom: 10px;
}

@media (min-width: 537px) {
    .agendar_img{
        width: 70px;
        height: 70px;
    }
}

@media (min-width: 768px) {
    .agendar_img{
        margin-bottom: 30px;
    }
}


.text_agendar{
    font-family: 'MonumentExtended', sans-serif !important;
    color: #fff;
    text-align: center;
    font-size: 20px;
    cursor: pointer !important;
}

.container_text_agendar{
    border: 2px solid rgb(255, 255, 255);
    border-radius: 30px;
    padding: 0px 10px;
}

@media (min-width: 768px) {
    .text_agendar{
        font-size: 30px;
    }
}   

.container_text_agendar:hover{
    background-color: #faaa1a;
    transform: scale(1.1);
}

.footer{
   /*  background-color: #000; */
    color: #fff;
    padding: 40px 0px;
    background-image: url('../img/pattern.jpg');
    background-size: contain;
    background-position: center;
}

.text1_footer{
    font-family: 'MonumentExtended', sans-serif !important;
    text-align: center;
    font-size: 20px;
}
.matters{
    color: #8a2ae3;
}

.logoFooter{
    font-size: 50px;
}

.bi-linkedin{
    color: #8a2ae3;
}

.bi-instagram{
    color: #ff1493;
}

.cursor_pointer{
    cursor: pointer;
}

.img_footer{
    width: 200px;
    border-radius: 10px;
}

.container1_text_footer{
    width: 200px;
}

.title_container1_text_footer{
    font-family: 'MonumentExtended', sans-serif !important;
    font-size: 17px;
    color: #fff;
    text-align: center;
}

.derechos{
    text-align: center;

    font-size: 12px;
    font-weight: bold;
}

.section_trends{
    background-color: #fff;
    padding: 60px 15px;
    background-image: url('../img/grid3d.jpg');
    background-size: cover;
    background-position: center;
}

.trends_title{
    font-family: 'MonumentExtended', sans-serif !important;
    font-size: 15px;
    color: #000;
    text-align: center;
    margin-top: 40px;
    margin-bottom: 0;
}


.trends_2022{
    font-family: 'MonumentExtended', sans-serif !important;
    font-size: 40px;
    color: #000;
    text-align: center;
}



.card_trend{
    width: 250px;
    height: 200px;
    border: 2px solid rgb(166, 166, 166);
    padding: 20px;
    background-color: #fff;
}

@media (min-width:400px) {
    .card_trend{
        width: 300px;
        height: 200px;
    }
    
} 

@media (min-width:500px) {
    .card_trend{
        width: 400px;
        height: 200px;
    }
    
} 


.img-marco{
    width: 276px;
    height: 270px;
    top: -27px;
    left: -15px;
}


@media (min-width: 400px) {
    .img-marco{
        width: 336px;
        height: 270px;
        top: -27px;
        left: -20px;
    }
} 


@media (min-width: 500px) {
    .img-marco{
        width: 440px;
        height: 270px;
        top: -27px;
        left: -23px;
    }
} 

.card_trend_title{
    font-family: 'MonumentExtended', sans-serif !important;
    font-size: 15px;
    color: #e322f4;
    font-weight: bold;
    margin: 0;
}

@media (min-width: 400px) {
    .card_trend_title{
        font-size: 20px;
    }
    
    
}

.card_trend_text{
    font-size: 13px;
    color: #000;
    margin: 0;
}

@media (min-width: 400px) {
    .card_trend_text{
        font-size: 14px;
    }
    
}


@media (min-width: 500px) {
    .card_trend_text{
        font-size: 16px;
    }
    
}

.contenedor_cards{
    gap: 40px;
    width: min(90%, 1200px);
    font-weight: bold;

}

.boton_descargar{
    background-color: #4b9600;
    color: #fff;
    border: none;
    border-radius: 10px;
    padding: 10px;
    font-size: 15px;
    cursor: pointer;
    font-weight: bold;
}

.mapa{
    width: min(90%, 800px);
}

.contenedor_redes{
    margin-top: -15px;
    margin-bottom: 10px;
}